{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title|default:"Nog Off"}}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    {% block head %}
    {% comment "Load custom head resources here in child templates" %}{% endcomment %}
    {% endblock head %}
</head>

<body>
    <header>
        <h1>{{title|default:"Nog Off"}}</h1>
        <nav>
            <ul class="nav">
                <li>
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block body %}
        {% comment "Load body in child templates here" %}{% endcomment %}
        {% endblock body %}
    </main>
    <footer></footer>
</body>
<script>
    if (!document.cookie.includes('device_id')) {
        const deviceId = 'dev-' + Math.random().toString(36).substr(2, 16);
        document.cookie = `device_id=${deviceId};path=/;max-age=31536000`;
    }
    {% block script %}
    {% endblock script %}
</script>

</html>